streamlit
altair
pypdf
python-docx
docx2txt
google-generativeai
openai
scikit-learn
pandas
numpy
PyMuPDF
pdfplumber
nltk
spacy
openpyxl
tiktoken
sentence-transformers
decorator
defusedxml
distro
executing
faiss-cpu==1.14.3
fastapi==0.139.0
fastjsonschema